<div class="menu_list_wrapper">
  <img class="img-logo" src="../../../assets/img/wasteless-logo.png" />
  <div class="menu">
    <ul class="menu_list" *ngIf="userrole === 'CUSTOMER'">
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.PRODUCTS">Produse</a>
      </li>
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.RECIPES">Rețete</a>
      </li>
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.MY_SHOPPING_LIST"
          >Produsele mele</a
        >
      </li>
    </ul>
    <ul class="menu_list" *ngIf="userrole === 'ADMIN'">
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.MY_COMPANY_PRODUCTS"
          >Produsele</a
        >
      </li>
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.ADD_PRODUCT">Produs nou</a>
      </li>
      <li class="menu_item">
        <a class="menu_link" [routerLink]="path.MY_ORDERS">Comenzi</a>
      </li>
    </ul>
    <app-user-profile [username]="username" [image]="image"></app-user-profile>
  </div>
</div>
