.menu_item {
  display: inline-block;
  margin-right: 10px;
}

.menu_list {
  display: inline-block;
  margin: 0;
}

.menu_list_wrapper {
  display: flex;
  background-color: white;
}

.menu {
  padding-top: 65px;
}

.menu_link {
  color: #538a3e;
  font-size: 35px;
  margin-right: 35px;
  text-decoration: none;
}

.menu_link:hover {
  color: #8CC272;
  zoom: normal;
}
