@import "../../utils/mixins";
@import "../../utils/variables";

.content {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  background: url("../../../assets/img/fundal2.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 728px;
}

mat-card {
  background-color: #f3ffd6;
  top: 230px;
  width: 400px;
  height: 400px;
  border-radius: 0px;
  @include box-shadow;
  left: 200px;
}

mat-card-content {
  margin: 64px;
}

h3 {
  font: normal normal bold 24px Roboto;
  letter-spacing: 0px;
  margin-top: 59px !important;
}

button {
  background-color: #f3ff8a;
  color: #2f4c23;
  width: 100%;
  border-radius: 4px;
  height: 32px;
  line-height: 34px;
  font: normal normal medium 14px Roboto;
  letter-spacing: $dense-letter-spacing;
  @include box-shadow(none);
}

.login-failed {
  text-align: left !important;
  font-size: $font-size-12px;
  display: inline-block;
  letter-spacing: 0px;
  margin-top: 10px;
  line-height: 1.4;
  color: red;
}

.margin-top-37px {
  margin-top: 37px;
}

.titlu {
  color: #2f4c23;
}

.wasteless-mat-form-field {
  font: normal normal 400 14px/19px Roboto;

  input.mat-input-elemt {
    letter-spacing: -0.14px;

    border-color: red;
  }
}
