<div class="content">
  <mat-card>
    <mat-card-content>
      <h3 class="titlu">AUTENTIFICARE</h3>
      <form [formGroup]="login">
        <mat-form-field class="margin-top-37px">
          <mat-label>Introduceti numele de utilizator</mat-label>
          <input
            formControlName="user"
            matInput
            placeholder="Nume de utilizator"
            type="text"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field class="margin-top-20px">
          <mat-label>Introduceti parola</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder="Parola"
            type="password"
            autocomplete="off"
          />
        </mat-form-field>

        <button
          (click)="clickLogin()"
          mat-raised-button
          class="margin-top-40px"
        >
        AUTENTIFICARE
        </button>
        <span class="login-failed" *ngIf="authError"
          >Nume de utilizator sau parola invalida. Reintroduceti datele!
          </span
        >
      </form>
    </mat-card-content>
  </mat-card>
</div>
