body {
  background-color: white;
  min-height: 2500px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.products {
  background-color: white;
  width: 80%;
  float: left;
}

.companies {
  background-color: white;
  width: 20%;
  float: right;
  height: auto;
  min-height: 100%;
  text-align: center;
}

.company {
  text-align: center;
}

.company-image {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.company-name {
  cursor: pointer;
}

.allProductsWithoutFilters {
  text-align: center;
}

#first-button {
  margin-bottom: 20px;
}
