<app-header></app-header>
<body>
  <div *ngIf="products">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" class="products">
        <div
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let product of products"
          class="product-wrapper"
        >
          <app-product [product]="product"></app-product>
        </div>
      </div>

      <div *ngIf="companies" class="companies">
        <button mat-button (click)="displayAllProducts()" class="company" id="first-button">
          <p class="company-name" class="allProductsWithoutFilters">
            TOATE PRODUSELE
          </p>
        </button>
        <div *ngFor="let company of companies" class="company">
          <button mat-button>
            <img
              src="{{ company.image }}"
              class="company-image"
              (click)="displayProductsByCompany(company)"
            />
            <div (click)="displayProductsByCompany(company)">
              <p class="company-name">
                {{ company.username }}
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
