<app-header></app-header>

<div class="shopping-element-wrapper" *ngFor="let key of getKeys(productsHash)">
  <app-product-list-table
    [products]="productsHash.get(key)"
  ></app-product-list-table>
  <div class="center">
    <h1>De aici ridici produsele: {{ key }}</h1>
    <h2>{{ getPrice(productsHash.get(key)!) }}</h2>
  </div>
</div>
<div class="downPrice">
  <h2 class="totalPrice">Pret total: {{ totalPrice }}</h2>
  <button class="jos" (click)="placeOrder()">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
      >Plaseaza comanda</span
    >
  </button>
</div>
