<div class="dialog-wrapper">
  <h1 mat-dialog-title="" class="mat-dialog-title" id="mat-dialog-title-0">
    Vei fi redirectionat spre completarea detaliilor comenzii
  </h1>
  <div mat-dialog-actions="" class="mat-dialog-actions">
    <button
      mat-button=""
      class="mat-focus-indicator mat-button mat-button-base"
      (click)="accept()"
    >
      <span class="mat-button-wrapper">DA</span
      ><span matripple="" class="mat-ripple mat-button-ripple"></span
      ><span class="mat-button-focus-overlay"></span>
    </button>
    <button
      mat-button=""
      class="mat-focus-indicator mat-button mat-button-base"
      type="button"
      (click)="reject()"
    >
      <span class="mat-button-wrapper">NU</span
      ><span matripple="" class="mat-ripple mat-button-ripple"></span
      ><span class="mat-button-focus-overlay"></span>
    </button>
  </div>
</div>
