<div class="container">
  <div class="row">
    <div class="center-table-global">
      <div class="col-md-7 center-table">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
            <tr class="headerProductList">
              <th class="headerProduct">&nbsp;</th>
              <th class="headerProduct">Produs</th>
              <th class="headerProduct">Pret</th>
              <th class="headerProduct">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td>
                <img
                  mat-card-image
                  src="{{ product.image }}"
                  class="productImage"
                  alt="NU"/>
              </td>
              <td>
                <p class="product-name">{{product.name}}</p>
              </td>
              <td class="column-price" style="padding: 0px">
                <p class="product-price">{{ product.price }} lei</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="container">-->
<!--  <table class="mini">-->
<!--    <thead class="thead-primary">-->
<!--    <tr class="headerProduct">-->
<!--      <th>Image</th>-->
<!--      <th>Product Name</th>-->
<!--      <th>Product Price</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let product of products">-->
<!--      <td >-->
<!--        <img src="{{product.image}}" alt="{{product.name}}">-->
<!--      </td>-->
<!--      <td>{{product.name}}</td>-->
<!--      <td>{{product.price}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

