.table thead.thead-primary {
  background: #99b19c;
}

td:first-child{
  width: 500px;
  height:300px;
  text-align: center;
}

.productImage{
  height: 200px;
  width: 200px;
  padding-left: 100px;
}

.table thead th {
  border: none;
  padding: 30px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}


.table tbody th, .table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  border-bottom: 4px solid #f8f9fd;
  vertical-align: middle;
}

.table tbody td.quantity {
  width: 10%;
}

.table tbody td .img {
  width: 100px;
  height: 80px;
}

.table tbody td .email span {
  display: block;
}

.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}

.product-name{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.product-price{
  font-size: 2rem;
}

.column-price{
  margin: auto;
  padding: 0px;
}


.headerProduct {
  background: #538A3E;
}
.center {
  margin-bottom: 10px;
}

.ng-star-inserted {
  margin-bottom: 50px;
}

.container {
  text-align: center;
}

table {
  margin: 0 auto; /* center the table horizontally */
  width: 100%; /* set the width of the table */
}


.mini{
  display: flex;
  width: 50%;
}

img{
  width: 20%;
}
