<app-header></app-header>
<body>
  <form *ngIf="form" [formGroup]="form">
    <mat-label>NUME</mat-label>
    <mat-form-field>
      <input matInput placeholder="nume" formControlName="name" />
      <mat-error *ngIf="getErrorForName()">
        Trebuie sa introduceti minim 5 caractere!
      </mat-error>
    </mat-form-field>
    <mat-label>IMAGINE</mat-label>
    <mat-form-field>
      <input matInput placeholder="imagine" formControlName="image" />
      <mat-error *ngIf="getErrorForImage()">
        Trebuie sa introduceti o valoare!
      </mat-error>
    </mat-form-field>
    <mat-label>PRET</mat-label>
    <mat-form-field>
      <input matInput placeholder="pret" formControlName="price" />
      <mat-error *ngIf="getErrorForPrice()">
        Valoarea intordusa trebuie sa fie mai mare sau egal cu 1!
      </mat-error>
    </mat-form-field>
    <mat-label>STOC</mat-label>
    <mat-form-field>
      <input matInput placeholder="stoc" formControlName="stock" />
      <mat-error *ngIf="getErrorForStock()">
        Valoarea intordusa trebuie sa fie mai mare sau egal cu 1!
      </mat-error>
    </mat-form-field>
    <mat-label>DATA DE EXPIRARE</mat-label>
    <app-date-picker
      [dayDate]="'12-12-2002'"
      [disablePastDates]="true"
      (updateDayDateChange)="onUpdateExpirationDate($event)"
      [isRequired]="true"
    ></app-date-picker>
  </form>
  <button mat-button><p (click)="save()">ADAUGA PRODUSUL</p></button>
</body>
