* {
  text-align: center;
  margin: 5px 5px;
}

mat-label {
  display: block;
}

mat-form-field {
  border: 0px solid #8cc272;
  color: #8cc272 !important;
  margin-bottom: 15px;
}

textarea {
  min-width: 100px;
  min-height: 80px;
}
