<mat-expansion-panel
  *ngIf="image && username"
  [ngClass]="{ small: true }"
  (opened)="onOpened()"
  (closed)="onClosed()"
  hideToggle="true"
>
  <mat-expansion-panel-header>
    <span class="user-image"><img src="{{ image }}" /></span>
    <span class="user-name foodwaste-dark-text">{{ username }}</span>
    <img
      class="expansion-indicator"
      [src]="'../../../assets/img/expand4.jpg'"
    />
  </mat-expansion-panel-header>

  <a (click)="logout()" mat-button>
    <span class="img-wrapper"
      ><img [src]="'../../../assets/img/logout4.jpg'"
    /></span>
    <span class="foodwaste-dark-text">Logout</span>
  </a>
</mat-expansion-panel>
