@import "../../utils/mixins";
@import "../../utils/variables";

.mat-expansion-panel {
  position: absolute;
  z-index: 101;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 201px;
  background: $foodwaste-white-color 0% 0% no-repeat padding-box;

  .mat-expansion-panel-header {
    width: 201px;
    height: 50px;
    border-radius: 34px;
    padding: 6px;
    &:hover,
    &:focus {
      background: $foodwaste-white-color !important;
    }
    ::ng-deep .mat-content {
      display: flex;
      flex: 1;
      flex-direction: row;
      overflow: hidden;
      align-items: center;
    }
  }

  .expansion-indicator {
    position: absolute;
    top: 27px;
    right: 25px;
    width: 10px;
    height: 10px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .user-image {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
  }

  .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 1px solid $foodwaste-medium-gray-color;
  }

  .user-name {
    margin-left: 9px;
    white-space: normal;
    width: 95px;
    display: inline-block;
    max-height: 48px;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px;
    margin-top: -2px;
  }

  .expansion-panel-footer {
    width: 201px;
    background-color: $foodwaste-light-gray-color;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 9px;
    padding-left: 13px;
    opacity: 0;
    transition: height 300ms;
    transition-delay: height 100ms;
  }

  .on-off-switch {
    display: block;
    margin-top: 7px;
  }

  &:not(.mat-expanded) {
    right: 15px;
    top: 24px;
    height: 60px;
    box-shadow: none;
    border: 1px solid $foodwaste-medium-gray-color;
    border-radius: 34px;
    .expansion-indicator {
      transform: rotate(0deg);
    }
    .expansion-panel-footer {
      height: 0px;
      opacity: 0;
      transition: height 300ms;
      transition-delay: height 100ms;

      span {
        @include foodwaste-text;
      }
    }
  }

  &.mat-expanded {
    right: 16px;
    top: 25px;
    box-shadow: 0px 1px 10px #0000001a;
    border-radius: 34px 34px 8px 8px;
    .expansion-indicator {
      transform: rotate(180deg);
    }
    .expansion-panel-footer {
      height: 39px;
      opacity: 1;
    }
  }
  &.mat-expanded:not(small) {
    height: 103px;
  }
  &.mat-expanded.small {
    height: 103px;
  }
}

.mat-button {
  width: 100%;
  text-align: left;
  padding: 0px 8px;

  span {
    display: inline-block;
    margin-left: 7px;
    margin-top: 2px;
  }
  .mat-icon {
    width: 16px;
    height: 14px;
    font-size: 17px;
  }

  &:hover {
    background-color: transparent;
  }

  ::ng-deep .mat-button-focus-overlay {
    background: transparent;
  }

  ::ng-deep .mat-ripple {
    color: #cbcbcb;
  }
  .img-wrapper {
    display: inline-block;
    width: 16px;
    text-align: right;
  }
}

.margin-top-minus-7px {
  margin-top: -7px;
}

.padding-left-4px {
  padding-left: 4px !important;
}
