<app-header></app-header>
<div class="container" *ngIf="orders">
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        <table class="table">
          <thead class="thead-primary">
          <tr>
            <th>Nume</th>
            <th>Descriere</th>
            <th>Status</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <td>
              <p>{{order.name}}</p>
            </td>
            <td>
              <p>{{order.description}}</p>
            </td>
            <td>
              <p>{{order.status}}</p>
            </td>
            <td>
              <button class="btn1">Editeaza</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

