@import "../../../../app/utils/mixins";
@import "../../../../app/utils/variables";

//underline
.mat-form-field.opened {
  ::ng-deep .mat-form-field-ripple {
    opacity: 1;
    transform: scaleX(1);
  }
}

//calendar button
.mat-icon {
  color: #8cc272;
  font-size: 18px !important;
}

//calendar
::ng-deep {
  //popup
  .mat-datepicker-popup {
    margin-top: 1px;

    .mat-datepicker-content {
      border-radius: 0px !important;
      @include box-shadow;

      .mat-calendar {
        width: 310px !important;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  //header
  .mat-calendar-header {
    padding: 0px 8px 0px 8px !important;
  }
  .mat-calendar-abbr {
    text-decoration: none !important;
    color: $foodwaste-corporate-gray-light-color;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
  }

  .mat-calendar-table-header-divider::after {
    left: 9px !important;
    right: 9px !important;
    background-color: $foodwaste-medium-gray-color;
  }

  .mat-form-field-suffix {
    margin-right: -5px;
  }

  .mat-calendar-period-button {
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: $foodwaste-dark-text-color;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  //month button arrow
  .mat-calendar-arrow {
    border-top-color: $foodwaste-primary-color;
  }

  //month button hover overlay
  .mat-focus-indicator.cdk-focused .mat-button-focus-overlay,
  .mat-calendar-period-button:hover:not(.mat-button-disabled)
    .mat-button-focus-overlay {
    opacity: 0 !important;
  }

  .mat-calendar-body-cell {
    font-size: 14px;
  }

  // regular date
  .mat-calendar-body-cell-content {
    color: $foodwaste-corporate-gray-color;
  }

  //active date - not selected
  .mat-calendar-body-active
    .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: $foodwaste-background-color !important;
    color: $foodwaste-corporate-gray-color;
  }

  // selected date
  .mat-calendar-body-selected {
    background-color: $foodwaste-secondary-color;
    color: white;
  }
  .mat-calendar-body-disabled > .mat-calendar-body-selected {
    background-color: #56a3bc8c;
  }

  // date hover
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: $foodwaste-background-color;
  }

  // today
  .mat-calendar-body-today.mat-calendar-body-selected {
    background-color: $foodwaste-secondary-color !important;
    color: white;
    border: none;
  }
  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border: none;
    background-color: $foodwaste-background-color;
  }

  .mat-calendar-body-label {
    opacity: 0;
  }
}
