<mat-form-field
  class="foodwaste-form-field"
  floatLabel="never"
  hideRequiredMarker="true"
  [ngClass]="{ opened: dayPicker.opened }"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [matDatepicker]="dayPicker"
    (dateChange)="onValueChanged()"
    (click)="dayPicker.open()"
    (mousedown)="onMouseDown()"
    [formControl]="dayDateField"
    [min]="minDateMoment"
    [max]="maxDateMoment"
    autocomplete="off"
  />
  <mat-datepicker-toggle [for]="dayPicker" matSuffix>
    <mat-icon matDatepickerToggleIcon> event </mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #dayPicker (closed)="onClosed()"></mat-datepicker>
  <mat-error
    *ngIf="dayDateField.invalid && dayDateField.dirty && dayDateField.errors"
  >
    <div *ngIf="dayDateField.errors['matDatepickerMin']">
      Minimum date should be {{ minDate }}
    </div>
    <div *ngIf="dayDateField.errors['matDatepickerMax']">
      Maximum date should be {{ maxDate }}
    </div>
    <div *ngIf="dayDateField.errors['matDatepickerParse']">
      Not a valid date
    </div>
  </mat-error>
</mat-form-field>
