<app-header></app-header>
<div *ngIf="recipes">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="recipes">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let recipe of recipes"
    >
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
  </div>
</div>

<div *ngIf="recipes?.length === 0">Nu s-au gasit retete potrivite</div>
