<div class="productWrapper" *ngIf="product">
  <mat-card class="mat-elevation-z4 product">
    <mat-card-title class="productTitle">{{ product.name }}</mat-card-title>

    <img
      mat-card-image
      src="{{ product.image }}"
      (click)="playSound()"
      class="productImage"
    />

    <div class="productInfo">
      <mat-card-content class="productText price">
        <p>Pret: {{ product.price }} lei</p>
      </mat-card-content>
      <mat-card-content class="productText">
        <p>Data de expirare: {{ product.expire_date }}</p>
      </mat-card-content>
      <mat-card-content class="productText soldBy">
        <p>
          Vandut de: <b>{{ product.companyName }}</b>
        </p>
      </mat-card-content>
      <mat-card-content *ngIf="!addedToShoppingList" class="addProductButton">
        <button mat-button (click)="addProductToMyShoppingList()">
          Adauga produsul in lista
        </button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
