body {
  font-family: "Sofia", sans-serif !important;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.product {
  height: 100%;
  background-color: #ecffbd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

.product:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.productTitle {
  color: #8dbe6f;
  text-align: center;
  margin-bottom: 15px;
}

.productWrapper > mat-card {
  min-width: 250px;
  max-height: 500px;
  text-align: left;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0px;
}

.addProductButton {
  text-align: right;
}

.addProductButton:hover {
  background-color: #8dbe6f;
  background-image: none;
}

mat-card-content > button {
  margin: 0px;
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  color: #ecffbd;
  padding: 0px 20px;
}

.productInfo {
  background-image: none;
  background-color: #8dbe6f;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0px;
}

.productText {
  color: #ecffbd;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  padding-left: 13px;
}

.price {
  font-size: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
}

.soldBy {
  padding-top: 3px;
}
