.recipeImage {
  width: 200px;
  height: 200px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-view-wrapper {
  margin-left: 20px;
  text-align: center;
}

.recipe-view-name {
  color: #538a3e;
}

.recipe-view-image {
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  white-space: pre;
  line-height: 25px;
  width: 100%;
  max-width: 100%;
}
