<app-header></app-header>
<div class="recipe-view-wrapper">
  <h1 class="recipe-view-name" *ngIf="name">{{ name }}</h1>
  <div class="recipe-view-image" *ngIf="image">
    <img mat-card-image src="{{ image }}" class="recipeImage" />
  </div>
  <p class="description" *ngIf="description">{{ description }}</p>
</div>
