<app-header></app-header>
<body>
  <div *ngIf="products">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" class="products">
        <div
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let product of products"
          class="product-wrapper"
        >
          <app-my-product [product]="product"></app-my-product>
        </div>
      </div>
    </div>
  </div>
</body>
