@mixin box-shadow($shadow: $gray-box-shadow) {
  -webkit-box-shadow: $shadow !important;
  box-shadow: $shadow !important;
  -moz-box-shadow: $shadow !important;
}

@mixin foodwaste-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $foodwaste-medium-gray-color;
    border: 4px solid white;
    background-clip: padding-box;
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $foodwaste-corporate-gray-light-color;
  }
  scrollbar-color: $foodwaste-medium-gray-color transparent;
  scrollbar-width: thin;
}

@mixin foodwaste-text {
  color: $foodwaste-dark-text-color;
  text-align: left;
  font: normal normal normal 14px/12px Roboto;
  letter-spacing: -0.14px;
}
