$msg-color-600: #7c1233;
$black-color: #323232;
$green-color: #198823;
$green-color-600: #337c12;
$green-color-300: #74a95b;
$light-green: #0ab01a;
$white-background-color: #fdfdfd;
$light-grey-background-color: #f6eef1;
$red-color: #e90202;

$foodwaste-background-color: #f1f6f9;
$foodwaste-white-color: #ffffff;
$foodwaste-light-gray-color: #f6f6f6;
$foodwaste-primary-color: #a01441;
$foodwaste-corporate-gray-color: #6f6f6f;
$foodwaste-corporate-gray-light-color: #9b9b9b;
$foodwaste-dark-text-color: #575757;
$foodwaste-medium-gray-color: #c6c6c6;
$foodwaste-fail-color: #fb6969;
$foodwaste-secondary-color: #8cc272;

$foodwaste-gray-color: #00000029;
$foodwaste-light-shadow-color: #0000001a;

$font-size-12px: 12px !important;
$font-size-16px: 16px !important;
$font-size-18px: 18px !important;
$font-size-24px: 24px !important;

$dense-letter-spacing: -0.14px;

$gray-box-shadow: 0px 3px 20px $foodwaste-gray-color;
$foodwaste-gray-box-shadow: 0px 3px 10px $foodwaste-gray-color;
$light-box-shadow: 0px 3px 10px $foodwaste-light-shadow-color;
$white-box-shadow: 0 0 0px 1000px white inset;
