<div class="recipe-card-wrapper" *ngIf="recipe">
  <div class="content">
    <mat-card  class="product">
      <mat-card-title class="productTitle">{{ recipe.name }}</mat-card-title>
      <img
        mat-card-image
        src="{{ recipe.image }}"
        class="productImage"
        (click)="navigateToRecipe()"
      />
    </mat-card>
  </div>
</div>
