.product {
  max-width: 250px;
  min-width: 250px;
  max-height: 300px;
  min-height: 300px;
  background-color: #ecffbd;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;

  text-align: center;
}

.productTitle {
  color: #2f4c23;
}

.productImage {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 250px;

  margin-left: 1px;
}

.content {
  padding: 10px;
}

.recipe-card-wrapper {
  height: 300px;
}
