<div class="productWrapper" *ngIf="product">
  <mat-card class="mat-elevation-z4" class="product">
    <mat-card-title class="productTitle">{{ product.name }}</mat-card-title>
    <img mat-card-image src="{{ product.image }}" class="productImage"/>

    <div class="productInfo">
      <mat-card-content class="productText price">
        <p>Pret: {{ product.price }} lei</p>
      </mat-card-content>
      <mat-card-content class="productText">
        <p>Data de expirare: {{ product.expire_date }}</p>
      </mat-card-content>
      <mat-card-content class="productText soldBy">
        <p>
          Vandut de: <b>{{ product.companyName }}</b>
        </p>
      </mat-card-content>
      <mat-card-content class="addProductButton">
        <button mat-button (click)="deleteProduct(product)">
          Sterge Produsul
        </button>
      </mat-card-content>
    </div>
  </mat-card>
</div>

